@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before, .slick-next:before {
  color: black; 
  display: hidden;
}

.slick-dots li button:before {
  color: black; 
}

.slick-dots li.slick-active button:before {
  color: blue; 
}
.verticel-carousel {
  width: 100%;
  overflow: hidden;
}
.slide-item {
  margin: 0 10px; /* Add horizontal gap between slides */
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image fits well without distortion */
}
.img-fit {
 height: 100%; 
 width: auto; 
  object-fit: cover;
}
.navbar-scroll {
  transform: translateZ(0);
  transition: all .3s ease-out;
}
.p-text {
  font-size: 1.5rem;
  letter-spacing: .0125em;
  font-weight: 400;
  line-height: 1.875rem;
}
.btn:hover {
  border-bottom: 0;
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .2);
  box-sizing: border-box;
  cursor: default;
  background: rgba(122, 18, 212, .1);
  color: #ba62fd;
}
@media (min-width: 992px) {
  .--dark .afest-navi--shadow, .--dark .six-navi--shadow, .--dark .ww-navi--shadow, .cb-navibar {
      background: transparent;
      border: 0;
      height: 80px;
      position: absolute;
  }
}

.is-focusable {
  display: block;
  height: 0;
  left: -1000em;
  overflow: hidden;
  width: 0;
}
@media (min-width: 1200px) {
  .cb-container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }
}
@media (min-width: 768px) {
  .cb-container {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
  }
}
@media (min-width: 376px) {
  .cb-container {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}
.cb-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.mv-navi__burger .line.line-1 {
  top: 0;
}
.mv-navi__burger .line.line-2 {
  top: 50%;
}

.mv-navi__burger .line {
  width: 100%;
  background: #0f131a;
  border-radius: 1.5px;
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  width: 20px;
}
@media(min-width: 768px) {
  .btn-a {
      min-width: 220px;
  }
}
.video-js {
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  position: relative;
  padding: 0;
  font-size: 10px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  word-break: initial;
}
.btn-anim{
  background: #9b37f2;
  background: linear-gradient(180deg, #9b37f2, #7a12d4);

}
.btn-anim:hover{
  background: #7a12d4;
}
/* animation */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}

.animate-pulse {
  animation: pulse 2s ease-in-out infinite;
}
