@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: "grotesk-medium", sans-serif; */
  font-family:  'THICCCBOI', Verdana , -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255) ;
  color: #40444f;
}
h1,h2,h3,h4,h5{
  font-family: 'THICCCBOI-Medium';
} 

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face { font-family: 'THICCCBOI'; src: url('./fonts/THICCCBOI-Regular.woff2') format('woff2') ;}
@font-face { font-family: 'THICCCBOI-Medium'; src: url('./fonts/THICCCBOI-Medium.woff2') format('woff2') ;}
@font-face { font-family: 'Grotesk-Medium'; src: url('./fonts/Grotesk-Medium.ttf') format('ttf'), url('./fonts/Grotesk-Medium.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@layer components {
  .btn{
    @apply flex items-center justify-center bg-transparent text-white rounded-full shadow-[inset_0_0_0_1px_#fff] cursor-pointer  text-base px-6 text-center no-underline tracking-[.015625em] leading-5 w-fit;

  }
 .btn-a{
  @apply flex items-center font-normal justify-center bg-white text-purple-800 rounded-full shadow-[inset_0_0_0_2px_#fff] cursor-pointer  text-base h-10 min-w-full px-4 text-center no-underline tracking-[.015625em] leading-5 w-fit;
 }
  /* Adjustments for Dark Mode */
  .dark .btn-a {
    @apply text-white;
  }
  .btn-a:hover{
  @apply text-purple-800 bg-white;
 }
 
 .btn-b{
  @apply bg-white  text-purple-800
 }
 .btn-b:hover{
  @apply text-white bg-transparent;
 }
  /* Dark mode specific for larger screens */
  .btn-a {
    @apply dark:text-white dark:bg-transparent;
  }
  @media (min-width: 1024px) {
    .dropmenu{
     @apply  w-48 bg-neutral-800 shadow-lg rounded-md text-white
    }
  }
  @media (max-width: 1023px)
  {
    .nav-mob{
    @apply justify-between block absolute right-0 top-0 mt-16 bg-white text-purple-800 hover:text-purple-800 w-full z-50 p-4 gap-4 shadow-md;
  }
}
  .nav-list{
   @apply  lg:text-white md:hover:text-violet-400 font-medium text-[.875rem;];
  }
  .overlay{
    @apply bg-[#faf4e4]; /* Base background color */
        background: linear-gradient(180deg, hsla(44, 69%, 94%, 0) 55%, #faf4e4);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faf4e4", endColorstr="#faf4e4", GradientType=1);
  }
  .heading-body{
    @apply mb-3 text-3xl font-bold leading-[1.2] text-black sm:text-4xl ;
  }
  .heading-hero{
    @apply mb-3 text-3xl font-bold leading-[1.2] text-white sm:text-5xl;
  }
  .blog-cat-menu{
    @apply block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 text-left;
  }
  .input-field{
    @apply py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
  }
  .admin-sidemenu{
@apply relative flex flex-row items-center h-11 focus:outline-none hover:bg-purple-800 text-white hover:text-white border-l-4 border-transparent hover:border-purple-500 pr-6;
  }
  .input-bar{
    @apply  bg-transparent h-10 w-full rounded text-gray-600 placeholder-transparent ring-2 px-2 ring-neutral-200  focus:outline-none focus:border-purple-300;
  }
  .input-label{
    @apply absolute cursor-text left-0 -top-3 text-sm text-gray-500 bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-sm transition-all;
  }
}